.cash-show{
	height:100px;
	background-color: #26344b;
	padding:20px 10px 10px 10px;
	font-size: 40px;
	color: #77c719;
   border :2px solid #4a4949;
}
.error{
	color: #CC0000!important;
	font-weight: normal!important;

} 
	
               
}
.cart-divs{
	background-color: #eae4e45c;
	height: 370px;
	overflow-y: auto;
}


.cart-divs::-webkit-scrollbar-track
{
	
	background-color: #00796B;
}

.cart-divs::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.cart-divs::-webkit-scrollbar-thumb
{
	 /*border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #26a69a;
}



.product-div{
	background-color: #eae4e45c;
	height: 585px;
	overflow-y: auto;
}


.product-div::-webkit-scrollbar-track
{
	
	background-color: #00796B;
}

.product-div::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.product-div::-webkit-scrollbar-thumb
{
	 /*border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #26a69a;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


/* datatable */
.mdb-datatable-filter{
	display: none!important;
}
/* end datatable */
